/*********** Variables ************/
:root {
  /* Colors */
  --color-primary: #6699CC;
  --color-secondary: #FFC857;
  --color-success: #80d688;
  --color-warning: #EE6055;
  --color-keyboard-default: #e8e8e8;
  --color-keyboard-hover: #454f6a;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

/* Modal styles */
.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 500ms ease-out;
}
.modal.warning {
  background-color: var(--color-warning);
}

.modal.success {
  background-color: var(--color-success);
}

.modal h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 10%;
}

.modal button {
  padding: 15px;
  margin-top: 10%;
  background-color: var(--color-secondary);
  color: #000;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.hide {
  transform: translateX(-100%);
}

/* Life counter */
.lifes {
  display: flex;
  align-items: center;
}

.lifes i {
  color: var(--color-warning);
}

#life-number {
  font-size: 1.25rem;
  margin: 0 10px;
}

/* Game field styles */
.game-frame {
  width: 100%;
  height: 100vh;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 20px auto 20px auto;
  text-transform: uppercase;
  color: #000;
}

.phrase-display {
  width: 80%;
  height: auto;
  margin-top: 25px;
  /* display: grid;
  grid-template-columns: repeat(autofill, 30px);
  grid-template-rows: repeat(autofill, minmax(1fr, 30px));
  grid-gap: 3px; */
  display: flex;
  flex-wrap: wrap;
}

.letter {
  background-color: var(--color-primary);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  min-width: 30px;
  min-height: 30px;
  margin: 2px;
}

.empty {
  opacity: 0;
  min-width: 30px;
  min-height: 30px;
}

.success {
  background-color: var(--color-success);
}

.warning {
  background-color: var(--color-warning);
}

.failed-display {
  width: 60%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#fake-input {
  position: absolute;
  height: 18px;
  bottom: 0px;
  opacity: 0;
}

@media (min-width: 720px) {
  .phrase-display {
    width: 60%;
    margin-top: 40px;
  }
  .letter {
    min-width: 50px;
    min-height: 50px;
    margin: 5px;
  }

}

/* Display keyboard for desktop screens */
.keyboard-display {
  display: none;
}

@media (min-width: 1050px) {
  .keyboard-display {
    display: block;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 150px;
  }

  .row {
    margin: 5px 0;
    display: flex;
    justify-content: center;
  }

  .keyboard-letter {
    background-color: var(--color-keyboard-default);
    color: var(--color-keyboard-hover);
    font-weight: 700;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .keyboard-letter.success {
    background-color: var(--color-success);
  }
  .keyboard-letter.warning {
    background-color: var(--color-warning);
    color: var(--color-keyboard-default);
  }

  .keyboard-letter:hover {
    background-color: var(--color-keyboard-hover);
    color: var(--color-keyboard-default);
  }

  .keyboard-letter:active {
    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.5);
    box-shadow:         inset 0 0 10px rgba(0,0,0,.5);
  }
}